.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: Fixed (1, 440px); 
    height: Fixed (1, 162px); 
    padding: 95px 64px 112px 64px; 
    gap: 80px;
    
}
.left-column h2{
    width: 552px; 
    height: 59px;
    font-family: Inter;
        font-size: 49px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 0;
}
.left-column p{
    width: 616px; 
    height: 180px;
    
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
}

.left-column {
    flex: 1;
   
    
}
.right-column ul{
    list-style: none;
}

.right-column {
    flex: 1;
    width: Fill (616px); 
    height: Hug (1, 034px); 
    gap: 80px;
    
    
}
.item-list{
    width: Fill (616px); 
    height: Hug (164px); 
    gap: 40px;
    
}
.item-list .icon{
    float: left;
    flex: 1;
    width: 48px; 
    height: 48px; 
    padding: 4px 6.0000152587890625px 3.9998397827148438px 6px;
}

.item-list .desc{
    float: right;
    flex: 1;
    width: Hug (48px); 
    height: Hug (164px); 
    gap: 16px;
    
    
}
.desc h6{
    margin-top: 0;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
        width: 528px;
    }
.desc p{
  
font-size: 16px;
font-weight: 400;
width: 528px;
        
        
}
